
	<h1>会议介绍</h1>
	<div style='float:left;width:420px;'>
	    <p>Shanghaionrails社区驱动,在<%= link_to 'rubuconfchina','http://rubyconfchina.com' %>的基础上，10月份的rubyonrails大会.内容添加中－－－－－－－</p> 
	</div>
   
	<div id="notify"> 
		<h3>加入此邮件组获得最新消息</h3>
		<table border=0 style="background-color: #fff; padding: 5px;" cellspacing=0>
		  <form action="http://groups.google.com/group/shanghaionrails/boxsubscribe">
		  <input type=hidden name="hl" value="en">
		  <tr><td style="padding-left: 5px;">
		  Email: <input type=text name=email>
		  <input type=submit name="sub" value="Subscribe">
		  </td></tr>
		</form>
		</table>
	</div> 
	
	<h1>演讲嘉宾</h1>
	<div class='bio'>
		<%= image_tag 'chad-fowler.jpg',:alt=>"chad fowler bio" %><p><b>Chad Fowler</b><br /><a href ='http://chadfowler.com'>http://chadfowler.com</a></p>
		<p style='font-size:12px;'>查德·福勒(Chad Fowler)是国际知名的软件开发者，培训专家，管理人员，演讲者以及音乐家。在过去的十年中，他曾在许多世界级的大公司中工作，并与众多最高水平的软件开发人员共事。他热爱编程，此外作为InfoEther, Inc.的CTO，致力于使用 Ruby 帮助客户解决难题。他也是RubyConf, RailsConf,和 RailsConf Europe的协办者，以及一些著名软件书籍的著者和共著者。</p>
	</div> 
          

