
	<h1>会议介绍</h1>
	<div style='float:left;width:420px;'>
	    <p>Shanghaionrails社区驱动,在<%= link_to 'rubuconfchina','http://rubyconfchina.com' %>的基础上，10月份的rubyonrails大会.内容添加中－－－－－－－</p> 
	</div>
   
	<div id="notify"> 
		<h3>加入此邮件组获得最新消息</h3>
		<table border=0 style="background-color: #fff; padding: 5px;" cellspacing=0>
		  <form action="http://groups.google.com/group/shanghaionrails/boxsubscribe">
		  <input type=hidden name="hl" value="en">
		  <tr><td style="padding-left: 5px;">
		  Email: <input type=text name=email>
		  <input type=submit name="sub" value="Subscribe">
		  </td></tr>
		</form>
		</table>
	</div> 
	
	<h1>演讲嘉宾</h1>
	<div class='bio'>
		<%= image_tag 'chad-fowler.jpg',:alt=>"chad fowler bio" %><p><b>Chad Fowler</b><br /><a href ='http://chadfowler.com'>http://chadfowler.com</a></p>
		<p style='font-size:12px;'>Chad Fowler是国际知名的软件开发,培训,管理者，也是著名的演讲者.他是Rubyconf,Railsconf和Railsconf Europe 的组织者之一，同时他自己或者与别人合作写作大量软件方面的书籍.<br />
		过去的几年中他一直在和世界上最大型的公司和最受尊敬的开发者一起工作.他热爱编程,他的工作之一是 InfoEther, Inc CEO，用Ruby为客户解决棘手的难题。</p>
	</div> 
          

