<h1>组织者</h1>
<%= image_tag 'SOR_logo.jpg' %>
<h1>特别感谢</h1>
Kungfurails的logo由<%= link_to 'ekohe','www.ekohe.com'%>的Nini设计
<h1>社区支持</h1>
<%=link_to image_tag('rubylearning.jpg',:alt => 'rubylearning'),'http://rubylearning.org/' %>      