<% if false -%>
<% content_for :headers do -%>
<style type="text/css" media="screen">
	ol
	{
		margin:0;
		padding: 0 1.5em;
	}

	table
	{
		color:#FFF;
		background:#C00;
		border-collapse:collapse;
		width:647px;
		border:5px solid #900;
	}

	thead
	{

	}

	thead th
	{
		padding:1em 1em .5em;
	 	border-bottom:1px dotted #FFF;
	 	font-size:120%;
	 	text-align:left;
	}



	thead tr
	{

	}

	td
	{
		padding:.5em 1em;
	}



	tbody tr.odd td
	{
		background:transparent url(/images/tr_bg.png) repeat top left;
	}

	tfoot
	{

	}

	tfoot td
	{

		padding-bottom:1.5em;
	}

	tfoot tr
	{

	}


	* html tr.odd td
	{
		background:#C00;
		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/tr_bg.png', sizingMethod='scale');
	}


	#middle
	{
		background-color:#900;
	}
	
</style>
<% end -%>
<h1>会议流程</h1>  
<table style='margin-left:60px'>
<col>
<col id="middle">
<col>
<thead>

	<tr><th>时间</th><th>主题</th><th>演讲人</th></tr>
</thead>
<tfoot>
	<tr><td colspan="3"><ol>
		<li>此表内容随时添加中.</li>
		</ol></td></tr>
</tfoot>
<tbody> 
		<tr><td>milk</td><td>1 quart</td><td>2 quart</td></tr>
		<tr class="odd"><td>cinna</td><td>2</td><td>1</td></tr>
		<tr><td colspan="3" style='text-align:center'>午餐/茶歇</td></tr> 
		<tr><td>milk</td><td>1 quart</td><td>2 quart</td></tr>
		<tr class="odd"><td>cinna</td><td>2</td><td>1</td></tr>
</tbody>
</table>
<% end -%>  
<% content_for :headers do -%>
	<style type="text/css" media="screen">
		table{
			width:100%;
		}              
		table td{
			text-align:center;
		}  
		td.desc{
			text-align:left;
			padding:0px 50px;
		}
	</style>
<% end -%>   
<h1>会议流程</h1>     
<table border="0" cellspacing="5" cellpadding="5">
    <tr>

        <th>时间</th>
        <th>主题</th>
        <th>演讲者</th>
    </tr>
<tr>
        <td>8:30-9:00</td>
        <td colspan="2"><b>签到</b></td>

    </tr>
    <tr>
        <td colspan='3' class='space'>主持人开场介绍</td>
    </tr>
    <tr>
        <td>9:00-10:30</td>
        <td><b>待确定</b></td>

        <td>Yehuda Katz(Merb创造者)</td>
    </tr>
    <tr>
        <td>10:30-11:00</td>
        <td>Ext.Direct and Rails</td>
        <td>Gao Lei(易空海)</td>

    </tr>
    <tr>
        <td>11:00-12:00</td>
        <td>在Rails中使用Metric_fu进行集成测试</td>
        <td>Louie Zhao（财帮子）</td>
    </tr>
    <tr>

        <td colspan='3' class='space'>午饭及休息</td>  
    </tr> 
    <tr>
        <td>13:00-14:00</td>
        <td>Getting Git : an introduction to distributed version control</td>
        <td>斯科特·查肯(Github)</td>
    </tr>

    <tr>
        <td>14:00-14:15</td>
        <td>Alternatives of Rails : Sinatra</td>
        <td>Koz（天狗）</td>
    </tr>
    <tr>
        <td>14:15-15:00</td>
        <td>待确定</td>
        <td>張文鈿（台湾，和多股份）</td>
    </tr>
    <tr>
        <td>15:00-16:00</td>

        <td>待确定</td>
        <td>Masayoshi Takahashi(日本ruby协会会长)</td>
    </tr>
</table> 

