
<% content_for :headers do -%>
<style type="text/css" media="screen">
	ol
	{
		margin:0;
		padding: 0 1.5em;
	}

	table
	{    
		margin:0px auto;
		color:#FFF;
		background:#C00;
		border-collapse:collapse;
		width:647px;
		border:5px solid #900;
	}

	thead
	{

	}

	thead th
	{
		padding:1em 1em .5em;
	 	border-bottom:1px dotted #FFF;
	 	font-size:120%;
	 	text-align:left;
	}



	thead tr
	{

	}

	td
	{
		padding:.5em 1em;
	}



	tbody tr.odd td
	{
		background:transparent url(/images/tr_bg.png) repeat top left;
	}

	tfoot
	{

	}

	tfoot td
	{

		padding-bottom:1.5em;
	}

	tfoot tr
	{

	}


	* html tr.odd td
	{
		background:#C00;
		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/tr_bg.png', sizingMethod='scale');
	}


	#middle
	{      
		width:50%;
		background-color:#900;
	}
	
</style>
<% end -%>
<h1>会议流程</h1>  
<table>
<col style='width:20%;'>
<col id="middle">
<col style='width:30%;'>
<thead>
	<tr><th>时间</th><th>主题</th><th>演讲人</th></tr>
</thead>
<tfoot>
	<tr><td colspan="3">
		<ol>
		<li>早上8点开始签到.</li>
		<li>门票已包含午餐.</li> 
		<li>以上安排可能根据具体情况有所更改.</li> 
		</ol>
		</td></tr>
</tfoot>
<tbody>
		<tr class="odd">
			<td>9:30-9:55</td>
	        <td>开场白</td>
	        <td>组织者/主持人</td>
		</tr> 
		<tr>
			<td>10:00-11:00</td>
	        <td>待确定</td>
	        <td>Yehuda Katz(Merb/Rails主力开发者)</td>
		</tr>
		<tr>
			<td>11:15-12:00</td>
        	<td>Rails项目静态检查和持续集成实践</td>
        	<td>Louie Zhao（财帮子）</td>
		</tr>
		<tr class="odd">
			<td>12:00-13:00</td>  
			<td colspan="2" style='text-align:center' >午餐/茶歇</td>
		</tr>
		<tr >
		    <td>13:00-13:45</td>
		    <td>Rails Best Practice: Write Better Code</td>
		    <td>張文鈿（台湾，和多股份）</td>
		</tr>
		<tr>
	        <td>13:45-14:30</td>
	        <td>Getting Git : an introduction to distributed version control</td>
	        <td>斯科特·查肯(Github)</td>
	    </tr>
		<tr>
			<td>14:30-15:00</td>
			<td>Ext.Direct and Rails</td> 
			<td>Gao Lei(易空海)</td>
		</tr>
		<tr class="odd">
			<td>15:00-13:15</td>  
			<td colspan="2" style='text-align:center' >茶歇</td>
		</tr>
		<tr>
			<td>15:15-15:45</td>
        	<td>How Ruby spread all over the world and What you can do</td>
        	<td>Masayoshi Takahashi(日本ruby协会会长)</td>
		</tr> 
		<tr>
	        <td>15:45-16:00</td>
	        <td>Alternatives of Rails : Sinatra</td>
	        <td>Koz（无锡天狗CEO）</td>
	    </tr>
       
</tbody>
</table>    
