<h1>厂商赞助</h1> 
<div class='sponsors'>
	<h4>Github</h4>  
	<%=image_tag('sponsor/github.png',:align => 'left')%>
	<p>
	 GitHub is for Public Open Source and Private Business Code
	</p>  
	<h4>Joyent</h4>
	<%=image_tag('sponsor/joyent-logo.jpg',:align => 'left',:height => '40',:width => '123')%> 
	<p >
	Joyent's Proven Cloud Hosting Infrastructure and sophisticated Cloud Management Software enable you to leverage benefits of both the Public and Private Cloud
	</p>
</div>
