<h1>参会信息</h1> 
<h2>时间</h2>
<b>2009 10/24(周六)</b>
<small>早上8点开始签到</small>
<h2>场地信息</h2>
上海电视大学国际会议中心一楼演讲厅<br />
地址:上海市国顺路288号(近四平路) 
<h2>乘车路线</h2>
1. 乘地铁4号线至四平路站，然后转乘公交307,55,61,325,910路到国定路站（约10分钟），再步行至会场（约500米）<br />
2. 乘地铁至四平路站，然后搭乘出租（约3公里）
<%=image_tag('map.png')%>  
<%=image_tag('IMG_0022.jpg')%>    