<h1>参会信息</h1> 
<h2>时间</h2>
<b>2009 10/24(周六)</b>
<small>早上8点开始签到</small>
<h2>场地信息</h2>
上海电视大学国际会议中心一楼演讲厅<br />
地址:上海市国顺路288号(近四平路) 
<h2> 交通信息</h2>
<h3>地铁线路</h3>
<ul>
	<li>乘地铁8号线至四平路站，然后转乘公交307,55,61,325,910路到国定路站（约10分钟），再步行至会场（约500米）</li>
	<li>乘8号线至四平路站，然后搭乘出租（约3公里）</li>
	<li>乘3号线至江湾镇站下转118路公交到四平路</li>
</ul>
<h3>公交线路</h3>
<ul>
	<li>乘公交810,60,61,713至国定路站下. <%=link_to '更多','http://www.ddmap.com/mstmap50007/g_sch_bus.jsp?buskeyname=%B9%FA%B6%A8%C2%B7&mapno=21&schtype=2',:target => '_blank'%></li>
	<li>乘公交118路到四平路下</li>
</ul>    
<h3>浦东机场到达</h3>
<ul>
	<li>机场四线到五角场站下</li>
</ul> 
<%=image_tag('map.png')%>  
<%=image_tag('IMG_0022.jpg')%>    