<h1>参会信息</h1> 
<h2>门票信息</h2>
<p>为了<a href='#'>提升大会的质量</a>,同时也为了能给与会者提供更好的服务,本次大会不同于rubyconfchina的完全免费方式,本会大会将对参会者<a href='#'>收取一定的费用</a>.我们保证所有的门票收入将用于<a href='#'>确保大会的正常举办和社区的日常运作</a>.</p>
<p>门票的价格为<a href='#'>120元人民币</a>,如果在21号之前支付,将能减免20元.<br />
	为了让与会者能更好的交流,我们会在会议<a href='#'>当晚举办一场大型的自助式晚餐会</a>,要参加此餐会,需<a href='#'>额外支付50元</a>晚餐会费用.</p>
	<p>马上<%=link_to '报名购买门票',new_attendee_path%></p>
<h2>场地信息</h2>
上海电视大学国际会议中心<br />
地址:上海市国顺路288号(近四平路) <a href='http://ditu.google.cn/maps?hl=zh-CN&newwindow=1&um=1&ie=UTF-8&cid=0,0,15915809014674510532&fb=1&hq=%E7%94%B5%E8%A7%86%E5%A4%A7%E5%AD%A6&hnear=%E4%B8%8A%E6%B5%B7&gl=cn&daddr=%E4%B8%AD%E5%9B%BD%E4%B8%8A%E6%B5%B7%E5%B8%82%E6%9D%A8%E6%B5%A6%E5%8C%BA%E9%98%9C%E6%96%B0%E8%B7%AF25&geocode=17629166024151660119,31.273884,121.504487&ei=VArDSt6cBpOWkAXHlKC1BQ&sa=X&oi=local_result&ct=directions-to&resnum=1&ved=0CA4QngIwAA' target ='_blank'>获取行车路线<a/>
<%=image_tag('map.png')%>  
<%=image_tag('IMG_0022.jpg')%>    