/** 
 * Slideshow style rules.
 */

#slideshow {
	margin:0 auto;
	width:610px;
	height:333px;
	position:relative;
}
#slideshow #slidesContainer {
  margin:0 auto;
  width:500px;
  height:330px;
  overflow:auto; /* allow scrollbar */
  position:relative;
}
#slideshow #slidesContainer .slide {
  margin:0 auto;
  width:500px; /* reduce by 20 pixels of #slidesContainer to avoid horizontal scroll */
  height:330px;
}


/** 
 * Slideshow controls style rules.
 */
.control {
  display:block;
  width:39px;
  height:263px;
  text-indent:-10000px;
  position:absolute;
  cursor: pointer;
  z-index:10;
}
#leftControl {
  top:0;
  left:0;
  background:transparent url(/images/control_left.gif) no-repeat 0 0;
}
#rightControl {
  top:0;
  right:0;
  background:transparent url(/images/control_right.gif) no-repeat 0 0;
}

