body{
	font-size:arial;
	background: url(/images/background.jpg) repeat-x;
}

img,div { behavior:url(/iepngfix.htc)};    

a:link{
   color:#F26723;
   text-decoration: none; 
}  

a:hover{
	text-decoration: underline;
}
#container{
	width:749px;
	margin:0 auto;
}         

#logo{
	text-align:center;
}    

#menu{
   padding-left:50px;
} 


#menu ul li{  
	float:left;
	list-style:none;
}         

#menu a{  
	color:#C72327; 
	border-right:1px solid #F26723;
	display:block;
	padding:10px;
	font-size:18px;
	text-decoration: none;  
} 

#menu a:hover{
	background:#C72327;
	color:#FFFFFF;
}

#content{ 
	padding:20px 0px;
	clear:both; 
	font-family:'宋体';
}   

#content h1{ 
	padding-left:10px;
	margin:10px 0px;
	border-bottom:1px solid #C72327;
}

#footer {
	border-top:1px solid #eee;
	text-align:center; 
	padding-top:10px;
	font-size:12px;
}
