body{
	font-family: 微软雅黑,新宋体,华文宋体,sans-serif;   
	font-size:14px; 
	line-height:16px;
    background: url(/images/background.jpg) repeat-x; 
}

a:link{
   color:#F26723;
   text-decoration: none; 
}     

h3.annonce{
	text-align:center;
	color:#CC0000;
}

a:hover{
	text-decoration: underline;
} 

#container{
	width:750px;
	margin:0 auto;
}

    

#logo{
	text-align:center;
}    

#menu{
   padding-left:250px;
} 


#menu ul li{  
	float:left; 
	list-style:none;
}         

#menu a{ 
	font-weight:bold; 
	color:#C72327; 
	border-right:1px solid #F26723;
	display:block;
	padding:10px;
	font-size:18px;
	text-decoration: none;
} 

#menu a:hover{
	background:#C72327;
	color:#FFFFFF;
}

#menu li.current a{
	background:#C72327;
	color:#FFFFFF;
}

#content{ 
	padding:20px 0px;
	clear:both; 
}

#content img{border:0px;margin:10px;}

#content h1{
	clear:both; 
	font-size:24px;
	font-family:'arial'; 
	padding-left:10px;
	padding-bottom:10px;
	margin:20px 0px 10px 0px;
	border-bottom:1px solid #F26723;
}

#content h4{
	clear:both; 
	font-size:16px;
	font-family:'宋体'; 
	padding-left:10px;
	padding-bottom:10px;
	margin:20px 0px 10px 0px;
	border-bottom:1px solid #eee;
} 

h4.payment{
	color:#C72327;
}

#footer {     
	clear:both;
	border-top:1px solid #eee;
	text-align:center; 
	padding-top:10px;
	font-size:12px;
}

#notify{
	float:right;
}
              
.datetime{  
   font-family:'宋体';  
   font-weight:bold;
   font-size:14px;
   position:relative;
   top: -80px; left: -110px;
} 

.bio{
	width:530px;
}

.bio img{    
	width:61px;
	height:62px;
	float:left;
	margin:0px 10px 1px 0px;
}   

.res{
	padding-left:100px;
	border-bottom:1px solid #eee;
} 

.res a{
 	font-weight:bold;
	color:red;
}

#demo{display:block;width:400px;height:335px;}
#demo{float:left;}

/* register form */
fieldset {
  -moz-border-radius: 13px;
  -webkit-border-radius: 13px;
  width: 500px;         
  border: 3px solid #EFEFEF;
  background-color: #FFFFFF; 
  padding:10px;
}

fieldset label {
  display:block;
  float:left;
  width: 125px;
  text-align: right;
  height: 1.3em;
  padding: 2px 10px;
  color: #00AA00;
}

fieldset input {
  background-color: #DBFDFF;
  border-left: 1px solid #EFEFEF;
  height: 16px;
}

fieldset select{  
  border-left: 1px solid #EFEFEF;
  font-size:14px;
  background-color: #DBFDFF;   
  width:290px;
  margin-top: 0px;
}

#attendee_description{
	width:320px;
	height:120px;
	background-color: #DBFDFF;
  	border-left: 1px solid #EFEFEF;   
}

.reg_form{
	margin-left:120px;
}  

.reg_notice{
	float:left;
}  

.reg_notice ul{
	margin:0px;
	padding:0px;
}

.reg_notice ul li{
	list-style:none;
    font-weight:bold;
	font-size:18px;
	padding:10px;
	background:#eee; 
	text-align:center;
	padding:40px 20px;
	margin:5px;  
	color:#666;
	-moz-border-radius: 8px;
  	-webkit-border-radius: 8px;
} 

.reg_notice ul li.highlight{
	background:#FFCC00;
	color:#000;
}

.image-submit{
	width:113px;
	height:28px;
	border:none;
}

a.button {
  display: block;
  width:137px;
  height:28px;
  background:url(/images/button.gif) no-repeat center;
  line-height:24px;
  font-size: 14px;
  color: #FFFFFF;
  text-align:center;
  padding-top: 3px;
  text-decoration: none; 
}

#payment_info{
	float:left;
	width:529px;
	padding:0px 10px;
}

.sponsors img{
	float:left;
} 

.sponsors p{
	padding-top:20px;
}



/* TABLES */

table.sortable { width:100%;font-size:12px; }
table.sortable tr.odd { background-color: #FAFAFA; }
table.sortable tr.even { background-color: #EEEEEE; }
table.sortable tbody tr:hover { background-color: #CCCCCC; }
table.sortable td { padding: 4px; }
table.sortable th { padding: 4px; white-space: nowrap;}

.space{
  background-color: #DBFDFF;
  font-weight:bold;
}

a.buy {
  display: inline-block;
  text-align: center;
  font: 14px helvetica, arial, sans-serif;
  font-weight: bold; 
  margin:0px 10px;
  text-decoration: none;
  border: solid 3px #C52C2C;
  background-color: #E3682F;
  -moz-border-radius: .2em;
  -webkit-border-radius: .4em;
  text-shadow: #000 -1px -1px 1px;
  box-shadow: 2px 2px 4px #666;
  -webkit-box-shadow: 2px 2px 4px #666;
  -moz-box-shadow: 2px 2px 4px #666;
  padding: 5px 20px;
  color: #fff; }
  a.buy .info {
    font-weight: normal;
    font-size: 12px;
    color: #fff; }
  a.buy:hover {
    background-color: #C52C2C; }

#sidebar{
   float:right;
   width:200px;  
}   

.box{       
   margin:10px;padding:10px; 
}  

.box li{ 
	list-style:none;
	float:right;
}