<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Kungfurails - 中国rails开发者大会</title> 
<meta name="description" content=" 中国rails开发者大会" />
<meta name="keywords" content="ruby rails rubyconf railsconf" />
<meta name="robots" content="all" />
<%= stylesheet_link_tag 'style' %>
<style type="text/css" media="screen">
	img, div { behavior:url(/iepngfix.htc) } /* IE hack for PNG transparency*/  
</style>      
</head>
<body> 
	<div id="container">
		<%= render :partial => '/shared/header'%> 
		<%= yield %>
		<div id="footer">
			<%= render :partial => '/shared/footer'%>
		</div> 
	</div>
</body>       
</html>